body {
    background: rgba(0, 0, 0, 0.021);
}

.card {
    background: white;
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
    padding: 30px;
    max-width: 400px;
    margin: 30px auto;

}

#return {
    outline: none;
    text-decoration: none;
    color: inherit;
}