.container{
<<<<<<< HEAD
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.login-card {
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
=======
    padding-top: 1%;
>>>>>>> c6976ef9fdee99676f0211d10affa73b58a6043b
}