.container {
    text-align: center
}

.login-card {
    margin: auto;
    text-align: left;
    background: white;
    border-radius: 4px;
    padding: 30px;
    max-width: 400px;
    
}

#card {
    transform: translateY(50%);
    box-shadow: var(--secondary-shadow);

}
