#row {
    transform: translateY(100px);
}

body {
    background: var(--accent-color);
}

.navbar, #nav {
    background: rgba(0, 0, 0, 0.021);
}

.login-card {
    box-shadow: none;

}

.center {
    transform: translateY(50%);
}