.container{
    max-width: 100%;
    box-shadow: 1px 8px 10px rgba(150,150,150, 0.8);
    height: calc(100vh - 120px);
}

.message-root {
    box-shadow: 1px 1px 10px rgba(150,150,150, 0.8);
    border-radius: 10px;
    margin: 5px auto;
    max-width: 99%;
}

body {
    overflow-y: hidden;
}

.chat{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
    max-height: calc(100vh - 120px);
}

.chat, .cardChats{
    border: 1px solid rgba(150,150,150, 0.2);
}

.cardChat{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
}
.cardChats .row:first-child {
    background: #a0a0a0;
}

.picture{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(204, 204, 204);
    margin-right: 5px;
}
.cardChats {
    padding: 0 14px;
    border-radius: 5px;
}

.send {
    border-top: 1px solid rgba(150,150,150, 0.2);
    padding: 5px 0px;
    margin-top: 5px;
}

.transparent, .transparent:active, .transparent:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.chatBox {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.received, .sent{
    padding: 10px;
    margin: 0.5px 20px;
    max-width: 40%;
}

.received {
    align-self: start;
    background: #dcf8c6;
    color: #262626;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sent {
    align-self: end;
    background: #80D8FF;
    color: #262626;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sent img {
    width: 100%;
}