.col-lg > .card {
    box-shadow: 0 5px 10px rgba(255, 219, 219);

}

.checked {
    color: orange;
}

.fa-star{
    font-size: 20px;
}

.btn-outline-dark {
    box-shadow: var(--secondary-shadow);
}

.card-img-top {
    min-width: 10rem;
}

.card {
    margin: auto;
    transition: 300ms ease;
}

.card:hover, .card:focus {
    transform: scale(1.1)
}

