body{
    background-color: white;
}

:root{
    --accent-color: rgb(68, 68, 139);
}

.search-icon{
    width: 30px;
    height: 30px;
}

.grid-item-s{
    background: lightblue;
    width: 100%;
    height: 100%;

}

.col-sm:hover{
    transform: scale(1.1);
}

.search-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.search-container > div {
    width: 30%;
    margin: 10px;

}
