@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

:root{
    --accent-color: rgb(245, 58, 120);
    --secondary-shadow: 0 5px 10px rgb(172, 172, 172);

}

.navbar{
    background: var(--accent-color);
}

.search-icon{
    width: 30px;
    height: 30px;
}

.grid-item-s{
    background: lightblue;
    width: 100%;
    height: 100%;

}

.col-sm:hover{
    transform: scale(1.1);
}

.search-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.search-container > div {
    width: 30%;
    margin: 10px;

}

.card {
    transition: 1s
}
.card:hover {
    transform: scale(1,1);
}
