@import url('https://fonts.googleapis.com/css?family=raleway|roboto+slab');

body{
    font-family: 'Raleway', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

:root{
    --higlight-font: 'Roboto Slab', serif;
    --nav-shadow: 0 1px 5px rgb(172, 172, 172);
    --accent-color: rgb(245, 58, 120);
    --secondary-chat: rgb(255, 210, 113);
    --secondary-color: rgb(252, 169, 197);
    --secondary-shadow: 0 5px 10px rgb(255, 219, 219);
    --primary-shadow: 0 2px 2px rgb(172, 172, 172);

}

.navbar{
    background: var(--accent-color);
    box-shadow: var(--nav-shadow)

}

.blank{
    width: 100%;
    height: 50px;

}

.footer-static {
    background-color: #f65289;
    color: white;
    position: static;
    width: 100%;
    bottom:0;
    left: 0;
    font-size: 12px;
    margin: 0;
    margin-top: 25px;

}

.footer-absolute {
    background-color: #f65289;
    color: white;
    position: absolute;
    width: 100%;
    bottom:0;
    left: 0;
    font-size: 12px;
    margin: 0;
    margin-top: 25px;
}

.link-github{
    color: white;
    font-size: 14px;
    font-family: var(--higlight-font);
}

.link-github:link{
    color: white;
}

.link-github:visited{
    color:white;
}

.link-github:hover{
    color:white;
}

.link-github:active{
    color: white;
}

.search-icon{
    width: 30px;
    height: 30px;
}

.search-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.search-container > div {
    width: 30%;
    margin: 10px;

}

h1{
    font-family: var(--higlight-font);
    color: var(--accent-color);
}

h2 {
    font-family: var(--higlight-font);
    color: var(--accent-color);
    font-size: 2.3em;

}

h3 {
    font-family: var(--higlight-font);
    color: var(--accent-color);
    font-size: 2em;

}

#job-container > .card {
    box-shadow: var(--secondary-shadow);
    transition: 1s;

}
.card:hover {
    transform: scale(1,1);
    
}

#proposta > .btn, .d-flex > .card {
    background: var(--secondary-color);
    box-shadow: var(--secondary-shadow);

}

.checked {
    color: orange;
}

